<%= form_for(article) do |f| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :title, placeholder: "Title", :maxlength => "50" %>
  </div>
  <br>

  <div class="field">
    <%= f.text_area :body, placeholder: "Your content", cols: "80", rows: "5" %>
  </div>
  <br>

   <div>
    <%= f.text_field :all_tags, placeholder: "Tags separated with comma", :maxlength => "50"%>
  </div>
  <br>

  <% if params[:action] == 'new' %>
    <div class="actions">
      <%= f.submit 'Post' , :class => 'btn btn-success' %>
      <%= link_to 'Back', articles_path, class: 'btn btn-primary btn' %>
    </div>
  <% elsif params[:action] == 'edit' %>
    <div class="actions">
      <%= f.submit 'Update' , :class => 'btn btn-warning' %>
      <%= link_to 'Show', @article, class: 'btn btn-success' %>
      <%= link_to 'Back', articles_path, class: 'btn btn-primary btn' %>
    </div>
  <% end %>



<% end %>
