<p id="notice"><%= notice %></p>

<div class="container">

	<div class="row">

	  <div class="col-sm-12">

	      <div class="card">

	    	<div class="card-block">

				<h3 class="card-title"> <%= @article.title %> </h3>

		       	<h6><span> <i class="fa fa-clock-o" style="font-size:24px"></i> Date: <%= @article.created_at.strftime("%e %b %Y %H:%M:%S %p") %>  </span></h6>
		        <br>

				<p class="card-text"> <%= @markdown.render(@article.body).html_safe %>  </p>
				<br>

				<h6><span> <i class="fa fa-eye" style="font-size:24px"></i> Seen by <%= @article.impressionist_count %></span></h6>
			</div>

			<div class="card-footer">
				<%= link_to 'Edit', edit_article_path(@article), class: 'btn btn-warning btn' %>
				<%= link_to 'Back', articles_path, class: 'btn btn-primary btn' %>
			</div>

		  </div>

	  </div>

	</div>

    <br><br>

</div>

<div class="container">
	<h5>Comments</h5>
	<%= render @article.comments %>

	<h5>Leave a comment:</h5>
	<%= render 'comments/form' %>
</div>
